<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArIxzMYK6wboeAZZcqNQn58Mc3kJ8MYQw</string>
	<key>GCM_SENDER_ID</key>
	<string>248416743629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rasp.monitorapp</string>
	<key>PROJECT_ID</key>
	<string>raspmonitor-58c92</string>
	<key>STORAGE_BUCKET</key>
	<string>raspmonitor-58c92.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248416743629:ios:c163c6585056c6aa85b984</string>
</dict>
</plist>